  <article>
    <div id="left">
      <p>
        <strong>Name Of Food:</strong>
        <%= @recipe.name %>
      </p>

      <p>
        <strong>Preparation time:</strong>
        <%= @recipe.preparation_time %>
      </p>

      <p>
        <strong>Cooking time:</strong>
        <%= @recipe.cooking_time %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @recipe.description %>
      </p>
      <% if user_signed_in? %>
          <%= link_to "Add new food", new_user_food_path(current_user), method: :get, class: 'nav_link'%>
      
      </div>
      
    <div class="right">
      <div class="toggle_div">
        <p><strong>Public:</strong></p>
        <%= button_to (@recipe.public ? 'Public' : 'Private'), toggle_public_user_recipe_path(current_user, @recipe),  method: :patch %>
      </div>
      <%= link_to "Edit this recipe",  edit_user_recipe_path(current_user, @recipe) %>
    </div>
  <% end %>
</article>
