  <main>
    <h1 class="title"><%=@recipe.name%></h1>
    <article>
      <div id="left">
        <p>
          <strong>Preparation time:</strong>
          <%= @recipe.preparation_time %> hour(s)
        </p>
        <p>
          <strong>Cooking time:</strong>
          <%= @recipe.cooking_time %> hour(s)
        </p>
        <p>
          <strong>Description:</strong>
          <%= @recipe.description %>
        </p>
      </div>
       
        <div id="right">
          <% if can? :destroy, @recipe %>
            <div class="toggle_div">
              <%= form_with(url: toggle_public_user_recipe_path(current_user, @recipe), method: :patch, class: 'toggle_btn') do |form| %>
                <%= form.button(type: :submit) do %>
                  <%= @recipe.public ? 'Make this recipe private' : 'Make this recipe public' %>
                <% end %>
              <% end %>
              <%# <%= button_to (@recipe.public ? 'Public' : 'Private'), toggle_public_user_recipe_path(current_user, @recipe),  method: :patch %>
            </div>
          <% end %>
          <% if can? :destroy, @recipe%>
            <%= link_to "Add new food", new_user_food_path(current_user), method: :get%>
          <% end %>
        </div>
    </article>
    <table class="tables">
          <tr>
            <th>Food</th>
            <th>Quantity</th>
            <th>Value</th>
            <% if can? :destroy, @recipe%>
              <th>Actions</th>
            <% end %>
        </tr>
      <% @foods.each do |food| %>
        <tr >
          <td><%= food.name%></td>
          <td><%= food.quantity%></td>
          <td>$<%= @foods.sum { |food| food.price * food.quantity } %></td>
          <% if can? :destroy, @recipe%>
            <td id="modify">
              <%= link_to "Modify", edit_user_food_path(current_user, food) %>
              <%= link_to "Remove", user_food_path(current_user, food), method: :delete %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </main>
