<p style="color: green"><%= notice %></p>

<%= render @food %>

<div>
  <%= link_to "Edit this food", edit_food_path(@food) %> |
  <%= link_to "Back to foods", user_foods_path(current_user) %>

  <%= button_to "Destroy this food", @food, method: :delete %>
</div>
