<main>
    <h1>Shopping List</h1>
    <% if @foods.blank? %>
    <p>Your list is currently empty!</p>
    <% else %>
    <div class="shopping_list_p">
        <p>Amount of food items to buy: <%= @foods.count%></p>
        <p>Total value of food needed: $<%= @foods.sum { |food| food.price * food.quantity } %></p>
    </div>
    <table className="table table-bordered  ">
      <thead>
        <tr>
          <th scope="col">Food</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
       </tr>
       <tbody>
    <% @foods.each do |food| %>
       <tr>
         <td><%= food.name%></td>
         <td><%= food.quantity%><%= food.measurement_unit%></td>
         <td>$<%= food.price%></td>
       </tr>
    <% end %>
    </tbody>
      </thead>
    </table>
    <% end %>
</main>